

body {
    background-color: #FFDA96;
}


body h1 {

    font-family: 'Jua', sans-serif;
}
body h2 {

    font-family: 'Jua', sans-serif;
}   
body h3 {

    font-family: 'Jua', sans-serif;
}
body p {

    font-family: 'Verdana', sans-serif;
}



header {
    background-color: #FFF1E0;
    border: 7px inset #000000;
    height: 149px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 6px ridge #FF5733;
    border-radius: 22px;
}

#Gato {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;

}

#titulo {

  
    font-size: 36px;
    margin: 90px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #000000;
    text-align: top;
    display: flex;
    justify-content: center;
    
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

#carrito {
   
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    
}

#carrito img {
    width: 100px;
    height: auto;
    display: flex;
    transition: transform 0.3s ease;
}

#carrito img:hover {
    transform: scale(1.1);
    
}


.ubt li a {
    font-size: 21px;
    text-decoration: none;
    color: #FF5733;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.logo {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 15px;


}


.logo img {

    width: 100px;
    height: auto;
    border-radius: 22px;
    display: flex;
    align-items: center;
    gap: 15px;

}

footer h2 {
    font-size: 24px;
    text-align: center;
    color: #333333;
    font-family: 'Jua', sans-serif;
    margin-top: 20px;
    padding: 10px;

    position: relative;
    bottom: -80px;
}



.Bienvenida {
    background-color: #F47729;
    height: 200px;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 15px 10px;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    color: #333333;
    
    
}

.Bienvenida h2 {
    
    font-size: 40px;
    margin: 40px;
    padding: 20px;
    
}



#gt1 {
    width: 120px;
    height: 120px;
    display: flex;
    margin-left: 20px;
    border-radius: 22px;
    
}

#gt2 {
    width: 210px;
    height: 210px;
    display: flex;
    
    margin-right: 20px;
    border-radius: 22px;
}
.eco-wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}



.eco {
     background-color: #CEFFA8;
    width: 1500px; 
    border-radius: 40px;
    padding: 25px;
    display: flex;
    align-items: center;
    position: relative;
    left: -10px;
   
   
}

.eco h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
    position: relative;
    left: 600px;
    top: -100px;
}    

#reciclat {
    width: 250px;
    height: auto;
    
    
}


    


#ecotext img {
    
    border-radius: 20px;
    width: 200px;
    position: relative;
    top: 70px;
}

#GtCl {
    display: flex;
    align-items: center;
    padding: 40px;
    position: relative;
  
    gap: 20px;
    margin-bottom: 20px;
}




#GtCl img{
    width: 150px;
    position: relative;
    left: 70px;
    height: auto;
    display: flex;
    margin-right: 20px;
    border-radius: 22px;

}    

#GtCl h2{
    background-color: #FFDC91;
    background-position-x: center;
    height: 70px;
    width: 300px;
    border-radius: 22px;
    position: relative;
    left: 200px;
    font-size: 40px;
    display: flex;
    text-align: top;
    justify-content: center;
    gap: 20px;
}

#reciclaje {
     background-color: #CDE38B;
    width: 280px;
    height: 280px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ecotext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    color: #333333;
    text-align: center;
}

#ecotext img {

    border-radius: 20px;
    width: 350px;
    height: 200px;
}

.tiposcomidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 200px;
    font-family: Jua;
    gap: 10px;
    margin: 20px;  
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);  
}

.tiposcomidas img {
    background: #E2F868;
    width: 200px;
    height: auto;
    border-radius: 20px;
}




.tiposcomidas h2 {
    font-size: 24px;
    color: #A12929;
}

#pollozana {
    background-color: #ED9E44;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    border: #000000 5px solid;

    position: relative;
    left: 250px;



}    

#pollozana{

    transition: transform 0.3s ease;
}

#pollozana:hover {
    transform: scale(1.1);
    
}

#pureatun {
    
    position: relative;
    left: 690px;
    top: -275px;
    background: #ED9E44;
    border-radius: 40px;
    border: #000000 5px solid;
    height: 250px;
    width: 250px;
    
}

#pureatun{

    transition: transform 0.3s ease;
}

#pureatun:hover {
    transform: scale(1.1);

}    

#pureatun img {
    
  

    height: 140px;
    width: 150px;
   

}





.compras {

    background-color: #F8CD58;
    position: relative;
    bottom: -40px;
    left: 300px;
    border-radius: 80px;
    width: 1200px;


}


#GtPo {
    height: 700px;
    display: flex;
    align-items: center;
    padding: 40px;
    position: relative;
  
    gap: 20px;
    margin-bottom: 20px;

}

#GtPo img{
    width: 150px;
    position: relative;
    left: 70px;
    top: -270px;
    height: auto;
    display: flex;
    
    border-radius: 22px;

} 


#GtPo h2{
    background-color: #FFDC91;
    background-position-x: center;
    height: 70px;
    width: 300px;
    border-radius: 22px;
    position: relative;
    left: 200px;
    top: -270px;
    font-size: 40px;
    display: flex;
    text-align: top;
    justify-content: center;
    gap: 20px;
}

#pate {

    background-color: #ED9E44;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    border: #000000 5px solid;

    position: relative;
    left: 250px;
    top: -520px;
}

#pate{

    transition: transform 0.3s ease;
}

#pate:hover {
    transform: scale(1.1);
    
}




#Helado {
    
    background-color: #ED9E44;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    border: #000000 5px solid;
    position: relative;
    left: 690px;
    top: -800px;
   

}


#Helado img {
    
  

    height: 170px;
    width: 150px;

    position: relative;
    top: 10px;


}    

#Helado{

    transition: transform 0.3s ease;
}

#Helado:hover {
    transform: scale(1.1);
    
}
